[Unit]
Description=Gcapi Api Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/data/server/api/gcapi
ExecStart=/data/server/api/gcapi/gcapi
Restart=always

[Install]
WantedBy=multi-user.target
